/*      Filename:   style.css
        Author:     Jaydon Cameron
        Validator:  https://jigsaw.w3.org/css-validator/
        Created:    03/09/2021      */

html {
    background-image: url(images/diego-jimenez-A-NVHPka9Rk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    height: 100%;
}

/*          Top Navigation Bar          */
header {
    background: #2F3136;    /* Set the background color of the header. */
    margin: -1cm -1cm 0;
}

/*  Creates empty space below the header, and removes it.
    This is a fix I found online for a problem I encountered when designing my
    navigation bar.                     */
header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: available; /*  Set width to 80% of the window's size.  */
    margin: 0 1cm;
}

.logo {
    float: left;        /*  Float the logo to the left-hand side of the .container.  */
    padding: 6px 0;    /* Create padding around the logo of 10px or 0 in size.  */
}

#TopNav {
    float: right;       /*  Float navBar to the right-hand side of the .container.  */
}

nav a:active {
    color: lightcoral;
}

nav ul {
    margin: 0;          /*  No margin.  */
    padding: 0;         /*  No padding. */
    list-style: none;   /*  No bullet points for list   */
}

nav li {
    display: inline-block;  /* Set the list inside navBar to act as an inline block. */
    margin-left: 70px;      /* Set the margin for the left of the list to 70px. */
    padding-top: 26px;      /*  Set padding for the top of the list to 33px.    */
}

nav a {
    color: white;               /*  Set text color of the a tag inside nav to be white  */
    text-decoration: none;      /*  Remove text decorations */
    text-transform: uppercase;  /*  Make text all uppercase */
    font-size: 12pt;            /*  Change the font size to 14 pixels   */
}

nav a:link {
    font-weight: bold;
}

#TopNav ul li a:hover {
    color: lightcoral;               /*  Set text color to black */
    font-size: 14pt;          /*  Set font size to larger */
}

/*      Body        */
body {
    position: relative;
    font-size: 14pt;
    color: white;
    font-family: "Work Sans", sans-serif;
    margin: 1cm;
    text-align: left;
    width: available;
    min-height: 100%;
    height: 100%;
    overflow: scroll;
}

h1 {
    text-align: center;         /*  Align text to the center of the body    */
    text-transform: uppercase;  /*  Make text all uppercase */
}

h2 {
    text-align: center;         /* Align text to the center of the body  */
    text-transform: uppercase;  /*  Make text all uppercase */
    text-decoration: underline; /*  Underline text  */
}

h3 {
    text-align: left;           /* Align text to the left side of the body  */
    text-transform: uppercase;  /*  Make text all uppercase */
}

abbr:hover {
    display: inline;            /* Display abbr inline when a cursor hovers over it */
}

.copyright {
    margin-left: 1cm;
    margin-right: 1cm;            /*  Set the margin to 1cm all around    */
    text-align: right;          /*  Align the text to the right of .copyright   */
    color: white;               /*  Set the text color to white */
}

.copyright a:link {
    color: aqua;                /*  Set the color of a to aqua. If a is a link. */
}

fieldset {
    margin-top: 18px;
    border-color: #2F3342;
    background-color: #2F3136;
    text-align: left;
    border-radius: 10px;
}
input {
    border-radius: 5px;
    border: none;
    height: auto;
    width: available;
    font-size: 12pt;
}

textarea {
    font-size: 12pt;
}

label {
    font-size: medium;
}

input[type="text"] {
    width: 100%;
    height: 24px;
    margin: auto;
}

.inline {
    display: inline-block;
    width: 47.28%;
    margin-left: auto;
    margin-right: auto;
}

.formNavigation input[type="button"],input[type="submit"] {
    border-radius: 20px;
    border:  none;
    height: 48px;
    width: 96px;
    background-color: lightsteelblue;
    color: white;
    font-size: x-large;
}

/* Bottom of webpage */
footer {
    display: block;
    position: relative;
    width: available;
    left: 0;
    bottom: -15%;
    right: 0;
    font-size: 11pt;
    background-color: #2F3136;
    margin: 1cm -1cm auto -1cm;
}

#footerLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #2F3342;
    height: fit-content;
    vertical-align: center;
}

#footerLinks li {
    font-size: 9pt;
    padding-top: 8px;
    vertical-align: center;
    display: inline-block;
    margin-left: 1cm;
}

#footerLinks li a:active {
    color: lightgrey;
}

#footerLinks li a:link:hover {
    color: coral;
    font-size: 10pt;
}

a:visited {
    color: #A02E00;
}

a:hover {
    color: coral;
}

a:link {
    color: lightsteelblue;
}

#footerLinks li a:link {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}



.copyright{

}

#copyrightStatement {
    text-align: left;
    padding-bottom: 8px;
    color: lightgrey;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* Underline hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    font-size: 12pt;
    visibility: hidden;
    width: 80%;
    min-width: fit-content;
    background-color: #2F3136;
    color: #fff;
    text-align: left;
    padding: 5px;
    margin: 1px;
    border-radius: 6px;
    position: absolute;     /* Set position to be relative to the overall page */
    z-index: 1;             /* Bring forward */
}

/* Tooltip Text on hover */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip:hover {
    color: lightcoral;
}

main {
    background-color: #2F3136;
    border-radius: 10px;
    padding: 1cm;
}
